<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 pt-10 pb-10 {{if this.isClosing "modal-leave" "modal-enter"}}">
  <div class="bg-[#1c1c1c] rounded-xl p-6 max-w-full max-h-full overflow-y-auto">
    <div class="flex flex-col items-center">
      <h2 class="text-white text-xl font-semibold text-center mb-4">Editar Cliente</h2>

      <form {{on "submit" this.saveClient}} class="w-full">
        <div class="grid grid-cols-2 gap-y-4 gap-x-6 w-full">
          {{!-- ID Cliente --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">ID Cliente</label>
            <p class="text-white">{{this.args.client.id}}</p>
          </div>

          {{!-- Fecha de Registro --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Fecha de Registro</label>
            <p class="text-white">{{this.fechaRegistro}}</p>
          </div>

          {{!-- Nombre Completo --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Nombre 1</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.nombre1}}
              {{on "input" this.updateNombre1}}
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-400">Nombre 2</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.nombre2}}
              {{on "input" this.updateNombre2}}
            />
          </div>
          
          {{!-- Número Fiscal --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Núm. Identificación Fiscal</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.nif}}
              {{on "input" this.updateNIF}}
            />
          </div>

          {{!-- Teléfono --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Teléfono</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.telefono}}
              {{on "input" this.updateTelefono}}
            />
          </div>

          {{!-- Límite de Crédito --}}
          <div class="col-span-2 flex flex-col items-center">
            <label class="block text-sm font-medium text-gray-400">Límite de Crédito</label>
            <input
              type="number"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.limiteCredito}}
              {{on "input" this.updateLimiteCredito}}
            />
          </div>

          {{!-- Calle --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Calle</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.calle}}
              {{on "input" this.updateCalle}}
            />
          </div>

          {{!-- Oficina de Venta --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Oficina de Venta</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.ofvta}}
              {{on "input" this.updateOfvta}}
            />
          </div>

          {{!-- Población --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Población</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.poblacion}}
              {{on "input" this.updatePoblacion}}
            />
          </div>

          {{!-- Grupo de Clientes --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Grupo de Clientes</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.grupoClientes}}
              {{on "input" this.updateGrupoClientes}}
            />
          </div>

          {{!-- Canal de Distribución --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Canal de Distribución</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.canalDistribucion}}
              {{on "input" this.updateCanalDistribucion}}
            />
          </div>

          {{!-- Tipo de Canal --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Tipo de Canal</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.tipoCanal}}
              {{on "input" this.updateTipoCanal}}
            />
          </div>

          {{!-- GR1 --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">GR1</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.gr1}}
              {{on "input" this.updateGR1}}
            />
          </div>

          {{!-- Clasificación --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Clasificación</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.clasificacion}}
              {{on "input" this.updateClasificacion}}
            />
          </div>

          {{!-- Dígito de Control --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Dígito de Control</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.digitoControl}}
              {{on "input" this.updateDigitoControl}}
            />
          </div>

          {{!-- CPAG --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">CPAG</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.cpag}}
              {{on "input" this.updateCPAG}}
            />
          </div>

          {{!-- CDistribución --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">CDistribución</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.cDistribucion}}
              {{on "input" this.updateCDistribucion}}
            />
          </div>

          {{!-- Distrito --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Distrito</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.distrito}}
              {{on "input" this.updateDistrito}}
            />
          </div>

          {{!-- Zona --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Zona</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.zona}}
              {{on "input" this.updateZona}}
            />
          </div>

          {{!-- Central --}}
          <div>
            <label class="block text-sm font-medium text-gray-400">Central</label>
            <input
              type="text"
              class="w-full h-10 p-2 rounded-xl bg-[#283139] text-white placeholder:text-[#9cacba] border-none focus:outline-none focus:ring-0"
              value={{this.central}}
              {{on "input" this.updateCentral}}
            />
          </div>
        </div>

        {{!-- Botones de acción --}}
        <div class="flex justify-end gap-4 mt-6">
          <button type="button" class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" {{on "click" this.closeModal}}>Cancelar</button>
          <button type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>